@page "/"

<PageTitle>Dashboard</PageTitle>

<MudText Typo="Typo.h3">Dashboard</MudText>

<MudGrid Class="mt-8">
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="25" Class="rounded-lg pb-4 light-blue lighten-1 shades-text text-white">
            <MudCardHeader Class="light-blue darken-1">
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Total users</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h1">@dashboardStatistics.TotalUsers</MudText>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="25" Class="rounded-lg pb-4 light-green lighten-1 shades-text text-white">
            <MudCardHeader Class="light-green darken-1">
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Logins today</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h1">@dashboardStatistics.LoginsToday</MudText>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="25" Class="rounded-lg pb-4 red lighten-1 shades-text text-white">
            <MudCardHeader Class="red darken-1">
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Registrations today</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h1">@dashboardStatistics.RegistrationsToday</MudText>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="25" Class="rounded-lg pb-4 orange lighten-1 shades-text text-white">
            <MudCardHeader Class="orange darken-1">
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Daily active users</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h1">@dashboardStatistics.DailyActiveUsers</MudText>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code
{
    [Inject]
    private AsumiDbContext DbContext { get; set; } = null!;

    private readonly DashboardStatistics dashboardStatistics = new()
    {
        TotalUsers = 0,
        LoginsToday = 0,
        RegistrationsToday = 0,
        DailyActiveUsers = 0
    };
    
    protected override async Task OnInitializedAsync()
    {
        dashboardStatistics.TotalUsers = await DbContext.Users.CountAsync();

        dashboardStatistics.RegistrationsToday = await DbContext.Users
            .Where(user => user.RegisteredAtUtc.Date == DateTime.UtcNow.Date)
            .CountAsync();
    }

    private class DashboardStatistics
    {
        public required int TotalUsers { get; set; }
        public required int LoginsToday { get; set; }
        public required int RegistrationsToday { get; set; }
        public required int DailyActiveUsers { get; set; }
    }
}
